zkboo/CMakeLists.txt.user
zkboo/CMakeCache.txt
zkboo/CMakeFiles/*
zkboo/CMakeScripts
zkboo/Testing
zkboo/Makefile
zkboo/cmake_install.cmake
zkboo/install_manifest.txt
zkboo/compile_commands.json
zkboo/CTestTestfile.cmake
zkboo/_deps
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.swp
